@using Microsoft.AspNetCore.Identity
@using IMS.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IEmployeeService employeeService
@using static IMS.Web.Infrastructure.Constants.CustomClaims

@{
    string userName = string.Empty;

    if (SignInManager.IsSignedIn(User))
    {
        userName = User.FindFirstValue(IMS.Web.Infrastructure.Constants.CustomClaims.UserFullNameClaim) ?? string.Empty;
    }
}

<nav class="navbar navbar-light bg-transparent border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <!-- Left-aligned items (e.g. navigation links) -->
        <ul class="navbar-nav d-flex flex-row">
            @if (SignInManager.IsSignedIn(User))
            {
                @if (await employeeService.ExistsByUserIdAsync(User.Id()) == false && User.IsAdmin() == false)
                {
                    <li class="nav-item">
                        <a class="nav-link text-white btn btn-success rounded-pill px-4 py-2" asp-area="" asp-controller="Employee" asp-action="Become">Стани служител</a>
                    </li>
                }
@*                 else if (await instructorService.ExistsByUserIdAsync(User.Id()) == true)
                {
                    <li class="nav-item">
                        <a class="nav-link text-white btn btn-success rounded-pill px-4 py-2" asp-area="" 
                        asp-controller="Instructor" 
                        asp-action="InstructorShowCase" 
                        asp-route-instructorId="@await instructorService.GetInstructorIdByUserId(User.Id())">My Board</a>
                    </li>
                } *@

                <li class="nav-item">
                    <a class="nav-link text-white btn btn-success rounded-pill px-4 py-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравейте @userName!</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-white btn btn-success rounded-pill px-4 py-2" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white btn btn-success rounded-pill px-4 py-2" asp-area="Identity" asp-page="/Account/Login">Вход</a>
                </li>
            }
        </ul>
    </div>
</nav>
