@{
    ViewData["Title"] = "Начална страница";
}

<div class="mt-4 p-5 bg-light text-center">
    <h1 class="display-4">Добре дошли в най-добрата система за управление на складова наличност!</h1>
    <a asp-action="All" asp-controller="Product">Разгледай продуктите</a>
</div>
