@model ProductFormModel

@{
    ViewData["Title"] = "Редактиране на продукт";
}


<div class="container text-center mt-3">
    <h2>@ViewBag.Title</h2>
    <partial name="_ProductFormPartial" model="@Model" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
