@model ProductFormModel

@{
    ViewData["Title"] = "Редактиране на продукт";
}

<h2 class="text-center mb-4">@ViewData["Title"]</h2>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <partial name="_ProductFormPartial" model="@Model" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
