@model IEnumerable<CommercialSiteViewModel>

@{
    ViewBag.Title = "Всички търговски обекти";
}

<section id="testimonials" class="testimonials section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Търговски обекти</h2>
        <p>Нашите <span class="description-title">Търговски обекти</span></p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        @if (Model.Any())
        {
            <div class="swiper site-swiper init-swiper">
                <div class="swiper-wrapper">
                    @foreach (var commercialSite in Model)
                    {
                        <div class="swiper-slide">
                            <partial name="_CommercialSitePartial" model="commercialSite" />
                        </div>
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
        }
        else
        {
            <h3>В момента няма регистрирани търговски обекти.</h3>
        }
    </div>

</section><!-- /Testimonials Section -->