@model CommercialSiteViewModel

@{
    ViewBag.Title = @Model.Name;
}

<section id="gallery" class="gallery section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Продукти</h2>
        <p><span>Налични</span> <span class="description-title">Продукти</span></p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        @if (Model.AvailableProducts?.Any() == true)
        {
            <div class="swiper init-swiper office-swiper">
                <div class="swiper-wrapper align-items-center">
                    @foreach (var product in Model.AvailableProducts)
                    {
                        <div class="swiper-slide h-100">
                            <partial name="_ProductSwiperPartial" model="product" />
                        </div>
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
        }
    </div>
</section><!-- /Gallery Section -->
